*body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style:sans-serif;
    color: #7f7f90;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*----------Nav-Bar--------------*/
.logo{
    font-size: 40px;
    font-weight: 500;
}

.nav-header{
    display: flex;
    justify-content: space-between;
}

.nav-header ul{
    padding-left: 30px;
    font-size: 20px;
}

.logo span{
    color: #ce1212;
}

.nav-button{
    padding: 7px 30px;
    background: #ce1212;
    color: #fff;
    border-radius: 20px;
    border:none;
}

/*--------------Hero-Section--------------*/

.hero-section{
    background-color: #eeeeee;
}

.hero-col{
    display: flex;
    align-items: center;
}
.hero-text h2{
    font-size: 50px;
    font-weight: 400;
}
.hero-button{
    padding: 8px 35px;
    border-radius: 35px;
    background-color: #ce1212;
    color: #fff;
    border: none;
    font-weight: 500;
}
.bttn-row{
    align-items: center;
}
.bttn-row i{
    font-size: 40px;
    color: #ce1212;
}
.bttn-row span{
 font-size: 20px;
 font-weight: 500;
}
.play-bbtn{
    align-items: center;
}

/*------About-Section---------*/
.icon-text ul{
    padding: 0;
}
.icon-text ul i{
    color: #ce1212;
}

.col-img{
    height: 92vh;
}

/*------Why Us Section------*/
.whyus-section{
    background-color:#eeeeee ;
}
.why-box{
    background-color: #ce1212;
    color: #fff;
}
.card-box {
   background-color: #fff;
}

.card-box h2{
    font-size: 20px;
    font-weight: 400;
}

.icon-bg{
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #fae7e7;
    color: #ce1212;
    font-size: 30px;
}
.why-button{
    text-align: center;
}
.why-bttn{
    padding: 8px 30px;
    background-color:#dd5a5a;
    border-radius: 30px;
    color: #fff;
    border:none ;
}

/*------Counter Section--------*/

 .counter-text{
    align-items: center;
    background-color: olive;
    display: flex;
    flex-direction: column;
 }

.count-section{
    background-color: #dd5a5a;

    background:linear-gradient(rgba(0,0 ,0 ,0.8),rgba(0 ,0 ,0 ,0.2)),url(/img/stats-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment:;
}

/*--------------Menu Section---------------*/
.menu-bttn{
    display: flex;
    justify-content: center;
}


/*-------Testimonials--------*/
.testimonials-sec{
    background: #eeeeee;
}




/*--------Events---------*/

.img-color{
    background: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.3);
}


/*--------Chef Section--------*/
.cheif-Section{
    background-color: #eeeeee;
}
.chef-box{
    box-shadow:0px 0px 16px 1px rgba(1, 1, 1, 30%);
}

.form-bg{
    background: #f7f7f7;
}
.form-box{
    justify-content: space-around;
    
    
}

.bttn-chef{
    padding: 9px 30px;
    background-color:#ce1212;
    border-radius: 30px;
    color: #fff;
    border:none ;
}

/*--------Gallery Section---------*/
.Gallery-sec{
    background: #eeeeee;
}


/*-------Contact Us Section----------*/

.adress{
    display: flex;
    align-items: center;
}

.icons{
    padding: 20px 20px;
    border-radius: 50%;
    background: #ce1212;
    color: #fff;

}

.contact-bg{
    background: #f4f4f4;
}

/*-----Footer Section--------*/
.footer-section{
    background:#1f1f24;
    color: #fff;
}
.social-icons ul{
    display: flex;
}

.footer-icon{
    padding: 8px 8px;
    border-radius: 8px;
    border-color: #fff;
    background: #1f1f24;
    color:#bcbcbe;
}
